<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venda de Produtos</title>
</head>
<body>
    <h1>Adicionar Produtos à Venda</h1>

    <h2>Produtos Disponíveis</h2>
    <ul>
        {% for p in produtos %}
            <li>{{ p.nome }} - R${{ p.valor }}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{{ p.id }}">
                    <button type="submit">Adicionar</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Produtos Adicionados</h2>
    <ul>
        {% for item in produtos_adicionados %}
            <li>
                {{ item.produto.nome }} - Quantidade: {{ item.qtd }} - Total: R${{ item.total }}
                <form method="post" action="{% url 'diminuir_quantidade' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Diminuir -1</button>
                </form>
                <form method="post" action="{% url 'aumentar_quantidade' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Aumentar +1</button>
                </form>
                <form method="post" action="{% url 'aumentar_quantidade' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Aumentar +1</button>
                </form>
            </li>
        {% empty %}
            <p>Nenhum produto adicionado ainda.</p>
        {% endfor %}
    </ul>
    
    <a href="{% url 'finalizar_venda' %}">Finalizar Venda</a>
</body>
</html>
