<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Venda</title>
</head>
<body>
    <h1>Adicionar Produtos à Venda</h1>

    <h2>Produtos Disponíveis</h2>
    <ul>
        {% for p in produtos %}
            <li>
                {{ p.nome }} - R$ {{ p.valor }}
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{{ p.id }}">
                    <button type="submit">ADD produto</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Produtos Adicionados à Venda</h2>
    <ul>
        {% for item in produtos_adicionados %}
            <li>
                {{ item.produto.nome }} - {{ item.qtd }} unidades - R$ {{ item.total }}
            </li>
        {% empty %}
            <li>Nenhum produto adicionado à venda ainda.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'finalizar_venda' %}">Finalizar Venda</a> <!-- Ajuste a URL conforme necessário -->
</body>
</html>
