<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for p in produtos %}
            {{ form.as_p }}
    {% endfor %}
    

    <form method="post">
        {% csrf_token %}
        {{ venda_form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit">Criar Venda e Adicionar Produtos</button>
    </form>
</body>
</html>