<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Venda - {{ venda.numero_venda }}</title>
</head>
<body>
    <h1>Editar Venda {{ venda.numero_venda }}</h1>

    <h2>Produtos na Venda</h2>
    <ul>
        {% for p in produtos %}
            <li>
                Produto: {{ p.produto.nome_produto }} - Quantidade: {{ p.qtd }} - Total: R$ {{ p.total }}
                <form method="post" action="{% url 'editar_venda' venda.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{{ p.produto.id }}">
                    <input type="hidden" name="remover_da_venda_editada" value="true">
                    <button type="submit">Remover</button>
                </form>
            </li>
        {% empty %}
            <li>Não há produtos na venda.</li>
        {% endfor %}
    </ul>

    <h2>Adicionar Novo Produto</h2>
    <form action="{% url 'editar_venda' venda.pk %}" method="post">
        {% csrf_token %}
        <label for="produto">Escolha um Produto:</label>
        {% for produto in todos_produtos %}
                <option value="{{ produto.id }}">{{ produto.nome_produto }} - R$ {{ produto.valor }}</option>
        {% endfor %}
        <button type="submit">Adicionar</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Salvar Alterações</button>
        <a href="{% url 'index' %}">Cancelar</a>
    </form>
</body>
</html>
