<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Criar venda</h1>
    <button onclick="location.href='{% url 'nova_venda' %}'">nova venda</button>

    <h2>Vendas</h2>
    <ul>
        {% for venda_info in vendas_com_produtos %}
            <li>
                <h3>Venda {{ venda_info.venda.numero_venda }} - Data: {{ venda_info.venda.data_venda }}</h3>
                <ul>
                    {% for produto in venda_info.produtos_agrupados %}
                        <li>
                            Produto: {{ produto.produto__nome }} - Quantidade: {{ produto.total_qtd }} - Total: R${{ produto.total_preco }}
                        </li>
                    {% empty %}
                        <li>Esta venda não possui produtos.</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>