<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Criar venda</h1>
    <button onclick="location.href='{% url 'nova_venda' %}'">nova venda</button>

    <ul>
        {% for v in vendas %}
            <li>
                <h3>Venda {{ v.numero_venda }} - Data: {{ v.data_venda }}</h3>
                <ul>
                    {% for item in v.itens.all %}
                        <li>
                            Produto: {{ item.produto }} - Quantidade: {{ item.qtd }} - Total: R${{ item.total }}
                        </li>
                    {% empty %}
                        <li>Esta venda não possui produtos.</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>