<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Venda - {{ venda.numero_venda }}</title>
</head>
<body>
    <h1>Editar Venda {{ venda.numero_venda }}</h1>

    <h2>Produtos na Venda</h2>
    <ul>
        {% for p in itens %}
            <li>
                Produto: {{ p.produto.nome_produto }} - Quantidade: {{ p.qtd }} - Total: R$ {{ p.total }}
                
                <form method="post" action="{% url 'diminuir_quantidade_edit' p.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">-</button>
                </form>
                
                <form method="post" action="{% url 'aumentar_quantidade_edit' p.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">+</button>
                </form>

                <form method="post" action="{% url 'editar_venda' venda.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{{ p.produto.id }}">
                    <input type="hidden" name="remover_da_venda_editada" value="true">
                    <button type="submit">Remover</button>
                </form>
            </li>
        {% empty %}
            <li>Não há produtos na venda.</li>
        {% endfor %}
    </ul>

    <h2>Total da Venda: R$ {{ venda_total }}</h2>

    <h2>Adicionar Novo Produto</h2>
    <ul>
        {% for p in todos_produtos %}
            <li>
                {{ p.nome }} - R$ {{ p.valor }}
                <form action="{% url 'adicionar_produto_edit' venda.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{{ p.id }}">
                    <button type="submit">Adicionar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Ir para vendas</a>

</body>
</html>
